<h2>Employment</h2>
<div class="table">
  <% employers.forEach(function(employer) { %>
    <div class="table-row">
      <!-- Date -->
      <div class="table-cell">
        <%= employer.start_date %> - <%= employer.end_date %>
      </div>

      <!-- Name -->
      <div class="table-cell">
        <span class="name"><%= employer.name %> (<%= employer.role %>)</span>
        <ul>
          <% employer.responsibilities.forEach(function(responsibility) { %>
            <li>
              <%= responsibility %>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  <% }) %>
</div>
