<table id="work">
  <% data.forEach(function(employer) { %>
    <tr>
      <td class="date">
        <!-- Date -->
        <%= formatDate(employer.start_date) %> - <%= formatDate(employer.end_date) %>
      </td>
      <td class="summary">
        <!-- Summary -->
        <b><%= employer.name %> (<%= employer.role %>)</b>
        <ul>
          <% employer.responsibilities.forEach(function(responsibility) { %>
            <li>
              <%= responsibility %>
            </li>
          <% }) %>
        </ul>
      </td>
    </tr>
  <% }) %>
</table>
